@model IEnumerable<ServicioWebTest2.Models.Tipo_Bitacora>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Bitacora1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Bitacora1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cod_Tipo_Bitacora }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cod_Tipo_Bitacora }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cod_Tipo_Bitacora })
        </td>
    </tr>
}

</table>
