@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Mantenimiento general de Pagina</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Actor", "Index", "Actor")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Autor", "Index", "Autor")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Bitaroca", "Index", "Bitacora")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Consecutivo", "Index", "Consecutivo")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Disco", "Index", "Disco")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Disquera", "Index", "Disquera")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Editorial", "Index", "Editorial")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Genero", "Index", "Genero")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Idioma", "Index", "Idioma")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Libro", "Index", "Libro")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Musica", "Index", "Musica")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Pelicula", "Index", "Pelicula")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Tipo_Bitacora", "Index", "Tipo_Bitacora")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Tipo_Usuario", "Index", "Tipo_Usuario")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Usuario", "Index", "Usuario")</h2>
    </div>