@model IEnumerable<ServicioWebTest2.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Libro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano_Libro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor.Nombre_Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editorial.Nombre_Editorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero.Nombre_Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idioma.Nombre_Idioma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Libro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano_Libro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.Nombre_Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editorial.Nombre_Editorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero.Nombre_Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idioma.Nombre_Idioma)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Libro }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Libro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Libro })
        </td>
    </tr>
}

</table>
