@model ServicioWebTest2.Models.Bitacora

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bitacora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cod_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Bitacora.Tipo_Bitacora1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Bitacora.Tipo_Bitacora1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cod_Bitacora }) |
    @Html.ActionLink("Back to List", "Index")
</p>
