@model IEnumerable<ServicioWebTest2.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pri_Ape_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seg_Ape_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Usuario1.Nombre_Tipo_Usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pri_Ape_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seg_Ape_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Usuario1.Nombre_Tipo_Usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cod_Usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cod_Usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cod_Usuario })
        </td>
    </tr>
}

</table>
